#trending{
    
	width:99%;
	margin:0px;
	padding:0px;
	height:80%;
	position:absolute;
	top:91px;
	z-index:0;
	background-color:#50738d;
}

.tops{
	border:5px solid white;
	width:19%;
	margin:2.5%;
	padding:0px;
	height:35%;
	float:left;
	text-align:center;
	line-height:200px;
	font-size:50px;
}
.tops a{
	text-decoration:none;
    color:white;

}
